body{
    background: linear-gradient(#a9a9a9,#d3d3d3);
}
h2{
    color:grey;
    font-size: 50px;
    text-align: center;
    margin-top: 90px;
}

.nav-bar{
    background-color: #333;
    left: 0px;
    position: fixed;
    padding: 10px 0px;
    top: 0px;
    text-align: center;
    width: 100%;
}

.nav-bar li{
    display: inline-block;
    margin-right: 25px;
}

.nav-bar a{
    color: white;
    font-size: 18px;
    text-decoration: none;
}

.nav-bar a:hover{
    text-decoration: underline;
}
